<a href="https://colab.research.google.com/github/CrepinJr/pyhonData/blob/main/PandasExo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font size=6.5 color="sky-blue"><b> <span> Initiation à Python pour la Data Science </span> </b></font>

<font size=5><b> <span> Exercice Séance 3 : </span> </b>  Pandas</font></center>

##### **Tp à envoyer au plus tard le vendredi 26 janvier à 23h GMT**

In [ ]:
#Nom : HOUESSOU
#Prénom : Crépin

### $$\text{Chargement  de Pandas sous le nom pd }$$

In [1]:
#charger pandas sous le nom pd

import pandas as pd

### $$\text{Les séries }$$

In [ ]:
#Créez une série appelée temperature qui représente les températures quotidiennes d'une semaine (7 jours)
#d'une semaine (7 jours). Utilisez des valeurs de température au hasard, par exemple, entre 20 et 30.

temperature = pd.Series([20, 25, 21, 26, 22, 29, 28])

In [ ]:
#Affichez la série temperature
temperature

In [5]:
#Ajoutez des index pour représenter les jours de la semaine (Lundi', 'Mardi', ..., 'Dimanche').

jours = ["Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"]
temperature.index = jours

In [ ]:
#Affichez à nouveau la série avec les nouveaux index
temperature

In [ ]:
#Accédez à la température du 'Mercredi'.

temperature['Mercredi']

In [ ]:
#Calculez et afficher la moyenne des températures de la semaine.

temperature.mean()

In [ ]:
#Trouvez le jour avec la température maximale.

temperature.max()

### $$\text{Nettoyage et préparation des données}$$

### $$\text{Chargement du fichier}$$

In [10]:
url = "https://raw.githubusercontent.com/wesm/pydata-book/3rd-edition/datasets/titanic/train.csv"
#Chargement du fichier train.csv dans un dataframe de nom donner
donner = pd.read_csv(url)

### $$\text{Les dimensions du dataframe}$$

In [11]:
#Les dimensions du dataframe
donner.shape

(891, 12)

### $$\text{Les 5 première ligne du dataframe}$$

In [ ]:
#Afficher les 5 première ligne du dataframe
donner.head(5)

### $$\text{Les 5 dernière ligne du dataframe}$$

In [13]:
#Les 5 dernière ligne du dataframe
donner.tail(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

### $$\text{Les information sur le dataframe}$$

In [ ]:
#Les information sur le dataframe
donner.info()

## Traitement 1

### $$\text{Effacer les lignes contenant les valeurs manquante le dataframe}$$

In [ ]:
#Effacer les lignes contenant les valeurs manquante le dataframe
donne1 = donner.dropna(axis = 0)

In [18]:
#Les dimensions du donne1
donne1.shape

(183, 12)

In [ ]:
#Les information sur le donne1
donne1.info()

## Traitement 2

### $$\text{liste des colonnes contenant  les valeurs manquantes}$$

In [21]:
#liste des colonnes contenant  les valeurs manquantes
colonnes_vides = donner.columns[donner.isnull().any()]

Index(['Age', 'Cabin', 'Embarked'], dtype='object')

In [22]:
#Afficher la liste des colonnes vides
colonnes_vides

Index(['Age', 'Cabin', 'Embarked'], dtype='object')

### $$\text{Effacer les colonnes Cabin et Embarked }$$

In [24]:
#Effacer les colonnes Cabin et Embarked
data2 = donner.drop(["Cabin","Embarked"] , axis = 1)

### $$\text{Remplacer les valeurs manquantes par 18}$$

In [25]:
#Remplacer les valeurs manquantes par 18
data3 = data2.fillna(18)

In [ ]:
#Les dimensions de data3
data3.info()